@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --primary: rgb(4, 35, 174);
  --primary-offwhite: rgb(233, 236, 252);
  --primary-light: rgb(136, 158, 255);
  --primary-dark: rgb(1, 19, 99);
  --purple: rgb(186, 170, 240);
  --green: rgb(147, 240, 152);
  --orange: rgb(240, 177, 122);
  --pink: rgb(240, 146, 224);
  --seagreen: rgb(146, 240, 234);
  --dark-seagreen: rgb(75, 192, 192);
  --yellow: rgb(240, 233, 133);
  --darkgreen: rgb(87, 130, 87);
  --brown: rgb(162, 133, 111);
  --gray: rgb(138, 138, 138);
}